html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#outer-box {
    padding-top: 10%;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
    #outer-box {
        padding-top: 30%;
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
    #outer-box {
        padding-top: 0;
    }
}